/**
 *  Default styling for the <body> element.
 */
body
{
  // Install  our default font.
  font-family: var(--text-font);

  // Make all of our text slightly bigger than usual to make them really easy to
  // read.
  font-size: 1.25em;

  // We want big line-heights to make text very easy to read.
  line-height: 1.75em;

  // Override the browser's default margin on the body element.
  margin: 0;
}