/**
 *  In this file, we want to define the animations that we want to use
 *  throughout the application to create a consistent look and feel.
 *
 *  We want to define them on the document root to make them available
 *  everywhere.
 */
 :root
{
  // Set the defaults for a quick animation.
  --quick-animation-delay: 200ms;
  --quick-animation-type: ease-in;

  // Provide an easy shortcut.
  --quick-animation: var(--quick-animation-delay) var(--quick-animation-type);
}