/**
 *  In this file, we want to define the colours that we want to use throughout
 *  the application to create a consistent look and feel. Moreover, we want to
 *  establish a clear design language to communicate consistent meaning for UI
 *  elements.
 *
 *  We want to define them on the document root to make them available
 *  everywhere.
 */
:root
{
  // Let's start with a bright saturated colour to catch the attention!
  --primary:            var(--pink);

  // And add a much more subtle, pastel, secondary note.
  --secondary:          var(--teal);

  // By default, let's go with a light background and a dark font colour so that
  // we can a great contrast on text which will make it easy to read.
  --background-color:   var(--white);
  --color:              var(--black);

  // Let's experiment with a slightly darker border.
  --border-color:       var(--gray);

  // Let's define a clear blue to mark navigation elements.
  --navigation:         var(--blue);

  // We need a clear red to mark warning elements. We can use this to signal to
  // the user that this is something he/she should be careful with and pay
  // attention to.
  --warning:            var(--red);

  // We need some colours to indicate when elements are interactive. Orange
  // usually works well for this.
  --active:             var(--orange);

  // We need a clear green to show the user options to confirm or save
  // something.
  --confirm:            var(--green);
}