/**
 *  In this file, we want to define the colours that we want to use throughout
 *  the application to create a consistent look and feel for the brand.
 *
 *  We want to define them on the document root to make them available
 *  everywhere.
 */
:root
{
  --pink:         #FF499E;
  --teal:         #B1EDE8;
  --white:        #FFFCF9;
  --black:        #010400;
  --gray:         #30332E;
  --blue:         #0868A0;
  --red:          #9B0808;
  --orange:       #DF8D1B;
  --yellow:       #DCED31;
  --green:        #48D50B;
  --purple:       #680E4B;
}